<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.LanguagesMapper">
   	<select id="listAll" parameterType="string" resultType="vo.LanguagesVO">
    	select ID,USERID,LANGUAGENAME,FLUENCY,LANGUAGECOMMENTS
    	from languages
    	where userId = #{userId}    	
 	</select>
 	
 	<select id="seqid" resultType="int">
 	select languages_SEQ.nextval from dual 	
 	</select>
 	<insert id="insert" parameterType="vo.LanguagesVO"> 		
		insert into Languages
			(ID,USERID,LANGUAGENAME,FLUENCY,LANGUAGECOMMENTS)
		values(#{id}, #{userId}, #{languageName}, #{fluency}, #{languageComments})
 	</insert>

 	<update id="edit" parameterType="vo.LanguagesVO">
 		update LANGUAGES set 			
			LANGUAGENAME = #{languageName},
			FLUENCY = #{fluency},
			LANGUAGECOMMENTS = #{languageComments}
		where USERID = #{userId} and id = #{id}
 	</update>
 	<delete id="delete" parameterType="int">
 		delete from LANGUAGES where ID = #{id} 	
 	</delete> 	
</mapper>








