<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.SearchMapper">
   	<select id="selectAll" resultType="vo.SelfIntroduceVO">
	select s.id, to_char(s.applydate,'yyyy-mm-dd') applydate,
	    to_char(s.editdate,'yyyy-mm-dd') editdate, s.appliedcompany, k.keywords
	from self_introduce s, (select listagg(k.keyword,',') within group(order by sid) as keywords
	    from keyword_selfintroduce k, self_introduce s
	    where sid = s.id and s.userid = #{userId}
	    group by s.id) k

 	</select>
 	<select id="searchByCompany" parameterType="hashmap" resultType="vo.SelfIntroduceVO">
	select s.id, to_char(s.applydate,'yyyy-mm-dd') applydate,
	    to_char(s.editdate,'yyyy-mm-dd') editdate, s.appliedcompany, k.keywords
	from self_introduce s, (select listagg(k.keyword,',') within group(order by sid) as keywords
	    from keyword_selfintroduce k, self_introduce s
	    where sid = s.id and s.userid = #{userId} and s.appliedcompany like '%'||#{input}||'%'
	    group by s.id) k
 	</select>
 	
 	<select id="searchByKeyword" resultType="vo.SelfIntroduceVO">
	select s.id, to_char(s.applydate,'yyyy-mm-dd') applydate,
	    to_char(s.editdate,'yyyy-mm-dd') editdate, s.appliedcompany, k.keywords
	from self_introduce s, (select listagg(k.keyword,',') within group(order by sid) as keywords
	    from keyword_selfintroduce k, self_introduce s
	    where sid = s.id and s.userid = #{userId}
	    group by s.id) k
	where k.keywords like '%'||#{input}||'%'
 	</select>
 	
 	 	<select id="searchByQuestion" parameterType="hashmap" resultType="vo.SelfIntroduceVO">
	select s.id, s.question, s.answer, to_char(s.applydate,'yyyy-mm-dd') applydate,
	    to_char(s.editdate,'yyyy-mm-dd') editdate, s.appliedcompany, k.keywords
	from self_introduce s, (select listagg(k.keyword,',') within group(order by sid) as keywords
	    from keyword_selfintroduce k, self_introduce s
	    where sid = s.id and s.userid = #{userId} and s.question like '%'||#{input}||'%'
	    group by s.id) k
 	</select>
 	 	<select id="searchByAnswer" parameterType="hashmap" resultType="vo.SelfIntroduceVO">
	select s.id, s.question, s.answer, to_char(s.applydate,'yyyy-mm-dd') applydate,
	    to_char(s.editdate,'yyyy-mm-dd') editdate, s.appliedcompany, k.keywords
	from self_introduce s, (select listagg(k.keyword,',') within group(order by sid) as keywords
	    from keyword_selfintroduce k, self_introduce s
	    where sid = s.id and s.userid = #{userId} and s.answer like '%'||#{input}||'%'
	    group by s.id) k
 	</select>
</mapper>








