<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.UniversityMapper">
   	<select id="listAll" parameterType="string" resultType="vo.UniversityVO">
    	select
    		ID, USERID, UNAME, 
    		TO_CHAR(ENROLLDATE,'YYYY-MM-DD') as ENROLLDATE, 
    		TO_CHAR(GRADDATE,'YYYY-MM-DD') as GRADDATE, 
    		STATUS, DEGREE,
	 		MAJORTYPE,MAJORNAME,TOTALGRADE,MAJORGRADE,MAXGRADE,
	 		ISTRANSFER,FILEID1,FILEID2
    	 from university
    	where userId = #{userId}    	
 	</select>
 	
 	<select id="seqid" resultType="int">
 	 select UNIVERSITY_SEQ.nextval from dual 	
 	</select>
 	<insert id="insert" parameterType="vo.UniversityVO"> 		
 		insert into university (
	 		ID, USERID, UNAME, ENROLLDATE, GRADDATE, STATUS, DEGREE,
	 		MAJORTYPE,MAJORNAME,TOTALGRADE,MAJORGRADE,MAXGRADE,
	 		ISTRANSFER,FILEID1,FILEID2
 		)
 		values (
 			#{id}, #{userId}, #{uName}, #{enrollDate}, #{gradDate}, #{status}, #{degree},
	 		#{majorType},#{majorName},#{totalGrade},#{majorGrade},#{maxGrade},
	 		#{isTransfer},#{fileId1}, #{fileId2}
 		)
 	</insert>
 	
 	
 	
 	
 	
 	<update id="edit" parameterType="vo.UniversityVO">
 		update university set 			
			UNAME = #{uName},
			ENROLLDATE = #{enrollDate},
			GRADDATE = #{gradDate},
			STATUS = #{status},
			DEGREE = #{degree},
			MAJORTYPE = #{majorType},
			MAJORNAME = #{majorName},
			TOTALGRADE = #{totalGrade},
			MAJORGRADE = #{majorGrade},
			MAXGRADE = #{maxGrade},
			ISTRANSFER = #{isTransfer},
			FILEID1 = '',
			FILEID2 = ''
			where USERID = #{userId} and id = #{id}
 	</update>
 	
 	<delete id="delete" parameterType="int">
 		delete from university where id = #{id} 	
 	</delete>
</mapper>








